body.theme-dark {
    background: #252525;
    color: #9c9c9c;
}

.theme-dark .feature-card {
    background: #252525;
    border: 1px solid #9c9c9c;
}

.theme-dark .primary-btn {
    background: #9c9c9c;
}

body.theme-light {
    background: #f3f4f6;
    color: #111;
}

.theme-light .feature-card {
    background: white;
    border: 1px solid #ddd;
}

.theme-light .primary-btn {
    background: #b8b8b8;
}

body.theme-red {
    background: #1d1d1d;
    color: #ff2b2b;
}

.theme-red .feature-card {
    background: #1d1d1d;
    border: 1px solid #ff2b2b;
}

.theme-red .primary-btn {
    background: #ff2b2b;
    color: #1d1d1d;
}

body.theme-blue {
    background: #2f3031;
    color: #00aaff;
}

.theme-blue .feature-card {
    background: #2f3031;
    border: 1px solid #00aaff;
}

.theme-blue .primary-btn {
    background: #00aaff;
    color: black;
}
